.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 5px;
    height: 40px;
    width: 250px;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.button {
    margin: 20px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    margin: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

.error::before {
    content: "⚠ ";
}

.loading {
    height: 15px;
    font-size: 17px;
    color: green;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 25px;
    text-align: center;
}
